* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    background-image: url("../assets/images/bg-dandelions.png");
    background-repeat: no-repeat;
    background-position: 180px 0;

}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    margin-top: 220px;
    margin-bottom: 110px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    margin-bottom: 116px;
}

.product-list {
    list-style-type: none;
    background-color: #F7F7FA;
    width: 340px;
    height: 573px;
}

.card {
    padding: 25px;
}

.image {
    margin-bottom: 30px;
    width: 290px;
    height: 245px;
    
}

.card-text {
    text-transform: uppercase;
    color: #A5A3B9;
    font-size: 12px;
    line-height: 24px;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.compound {
    margin-top: 15px;
    list-style-position: inside;
}

.compound-text {
    margin-top: 5px;
}

.price {
    font-size: 20px;
    line-height: 24px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.price-tag {
    font-weight: 400;
}